/**
 * Created by Maopy on 2014/10/29.
 */
html{color:#000;background:#FFF;font-size:16px;font-family: 'Arial', '微软雅黑'}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;-webkit-tap-highlight-color: transparent;}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}

/*
	clearfix
*/
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}

a:hover,a:active,a:link,a:visited{text-decoration:none;}

.container {
	width: 940px;
	margin: 0 auto;
}