/**
 * Created by Maopy on 2014/10/29.
 */
html {
	color: #000;
	background: #FFF;
	font-size: 16px;
	font-family: 'Arial', '微软雅黑'
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	*font-size: 100%
}

legend {
	color: #000
}

.container, .header-container {
    width: 940px;
    margin: 0 auto;
}

.m-hd ul li.active {
    height: 37px;
    color: #FB5E00;
    border-bottom: 3px solid #FB5E00;
}

html, body {
	width: 100%;
	min-width: 940px;
	height: 100%;
	background: url("../img/bg.jpg") no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

.m-ft {
	width: 100%;
	position: fixed;
	bottom: 0;
}
.m-ft .m-contact {
	height: 80px;
	background: rgba(255, 255, 255, .3);
}
.m-contact h6 {
	font-size: 14px;
	font-weight: bold;
	margin: 12px 0 8px;
}
.m-contact div {
    margin-bottom: 7px;
}
.m-contact .code2d {
	width: 80px;
	height: 80px;
	float: right;
	background: url("../img/code2d.jpg") no-repeat center;
}
.m-contact ul li {
	float: left;
	color: #333;
	font-size: 12px;
}
.m-contact ul li a {
	color: #333;
}
.m-contact .container>ul>li {
	width: 220px;
	margin: 0 70px 0 0;
}
.m-contact .container>ul>li:last-child {
	margin: 0;
}
.m-contact .container>ul>li>ul>li {
	margin: 0 15px 7px 0;
}
.m-ft .bei {
	font-size: 10px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #666;
	background: rgba(255, 255, 255, .8);
}

.m-main .hint {
	margin: 240px 0 6px 0;
	font-size: 12px;
	padding: 0 0 0 190px;
	color: #ADA6A0;
}
.m-main .so {
	text-align: center;
}

.m-main .hot {
	width: 100%;
	font-size: 14px;
	margin: 8px 0 0 0;
	padding: 0 0 0 190px;
}
.hot ul {
	display: inline-block;
}
.hot ul li {
	display: inline-block;
}
.hot ul li a {
    color: #666;
    font-size: 12px;
}
.hot span {
	font-size: 12px;
    color: #666;
}
.fri {
	width: 500px;
	font-size: 14px;
	margin: 10px 0 0 0;
	padding: 0 0 0 190px;
}
.fri li {
	width: 120px;
	height: 80px;
	text-indent: -9999px;
	float: left;
}
.fri li a {
	width: 120px;
	height: 80px;
	text-indent: -9999px;
	float: left;
}
.fri li.ali {
	background: url("../img/ali.png") no-repeat center;
}
.fri li.baidu {
	background: url("../img/baidu.png") no-repeat center;
}
.fri li.qn {
	background: url("../img/qn.png") no-repeat center;
}
.fri li.mt {
	background: url("../img/mt.png") no-repeat center;
}
.fri li.qh {
	background: url("../img/360.png") no-repeat center;
}
.fri li.sogou {
	background: url("../img/sogou.png") no-repeat center;
}
.fri h6 {
	color: #666;
	margin: 30px 0px 0px 0px;
}